// If you want to override any standard Bulma styles,
// you need to do it before you import Bulma

// colors

// #EBEBEB //light grey

// https://coolors.co/ebebeb-04002c-d0a858-484649
$dark-grey: #484649;
$gold: #d0a858;
$dark-blue: #04002c;
$blue-grey: #24262f;

$primary: $dark-blue;
$warning: $gold;

// fonts

// looks very blocky and the gujarati is hard to read, but it works on mobile
// @import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@500&display=swap');
// $family-primary: 'Hind Vadodara', sans-serif;

// looks better, but has problems on mobile
// @import url('https://fonts.googleapis.com/css2?family=Rasa:wght@500&display=swap');
// $family-primary: 'Rasa', serif;

@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@500&display=swap");
$family-gujarati: "Mukta Vaani", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap");
$family-primary: "Abhaya Libre", serif;

@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
$family-cursive: "Tangerine", cursive;

@import "./header.scss";
@import "~bulma/bulma.sass";

.cursive-heading {
    font-family: $family-cursive;
}

.cursive-heading-blue {
    font-family: $family-cursive;
    color: $dark-blue !important;
    font-weight: 900;
}

.hero {

    @media (min-width: 500px) {
        .title {
            font-size: 120px;
        }
        .subtitle {
            font-size: 30px;
        }
    }
}

.page-title {
    @media (min-width: 500px) {
        .title {
            font-size: 100px;
        }
        .subtitle {
            font-size: 30px;
        }
    }
}

.home-page-tiles {
    max-width: 400px;
}

.options-button {
    min-width: 145px;
    margin: 0 0.5rem 0.5rem 0;
}

.bhajan-section {
    margin-bottom: 40px;
}

.section-gujarati {
    margin-bottom: 5px;
    font-family: $family-gujarati;
}

.section-transliteration {
    color: $dark-blue;
    margin-bottom: 5px;
}

// .section-translation {

// }
